*{
	margin:0;
	padding:0
}
div.custom-container {
	background-color: rgb(45, 53, 60);
	margin: 10px;
	display:flex;

}
div.custom-container2 {
	background-color: rgb(45, 53, 60);
	margin: 10px;


}

svg.custom1 .custom circle {
	fill: #F3F3FF;
	stroke: #2593B8;
	stroke-width: 5px;
}

svg.custom1 .custom text {
	font-size: 11px;
	background-color: #444;
	fill: #F4F4F4;
	text-shadow: 0 1px 4px black;
}

svg.custom2 .custom text {
	font-size: 11px;
	background-color: #444;
	fill: #F4F4F4;
	text-shadow: 0 1px 4px black;
	transform: rotate(-90deg);
}

svg.custom1 .custom {
	cursor: pointer;
}

svg.custom1 path.link {
	fill: none;
	stroke: #2593B8;
	stroke-width: 2px;
}


#changesContainer{
	display: flex;
	flex-direction: row;
}

#prevCurrContainer{
	display: flex;
	flex-direction: row;
}

#propsContainer{
	display: flex;
	flex-direction: column;
	width: 75%
}

#titlesContainer{
	display: flex;
	flex-direction: row;
}

#compName{
	width: 25%
}

.column{
	display:flex;
}

.title {
	width: 25%;
}

.box{
	width: 33.33%;
}

#prevCurrContainer .box{
	word-wrap: break-word;
}

.navBar{
	display:flex;
}

.button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25%;
	height: 25px;
	background-color: rgb(241, 241, 241);
	box-sizing: border-box;
}
.button:hover{
    background-color: rgb(225, 225, 225);
}

.button:focus{
    outline: none
}

body{
    background-color: rgb(45, 53, 60);
}

/* Initial State */
#hierarchy{
    height: 100%;
    width: 67%
}

#statePannel{
    height: 100%;
    width: 33%
}

#initialState{
    display:flex;
    height: 100%;
}

.componentName{
    text-align: center;
    font-size: 115%;
    font-weight: bolder;
    background-color: lightgrey;
}

.initialComp{
    margin: 15px;
    background:white;
}

.childrenDiv{
    padding: 0 15px;
    margin: 10px 0px;
}

#logo{
    text-align: center;
}

.stateUl{
    margin-left:15px;
}

.componentStateName{
    text-align: center;
}

.stateDiv{
	margin-top:10px;
	color: white;
}

.activeButton{
    border-bottom: 2px rgb(54, 119, 246) solid;
}



.textContent {
    color:white;
	width:33%;
	margin-left:10px;
}

.treeContainer{
    width:67%;
}

.stateTreeContainer{
	width:40 %;
	margin-top: 50px;
}

#stateChanges{
	margin: 10px;
	color:white;
}
.stateChangesHeader{
	background-color: lightgrey;
	color:black;
}

